<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Servico_envio_email_aniversarios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Servico_envio_email_aniversarios.Properties.Settings.ConnectionBD"
            connectionString="Data Source=NewDev;User ID=sys_aniversariante;Password=sys_aniversariante;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Servico_envio_email_aniversarios.Properties.Settings>
            <setting name="Log_Path" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="Notificacao_Cabecalho" serializeAs="String">
                <value>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;&lt;title&gt;Aniversario Funcesp&lt;/title&gt;

&lt;/head&gt;
&lt;body&gt;
&lt;table id="Tabela_01" width="800" border="0" cellpadding="0" cellspacing="0"&gt;
	
	&lt;tr&gt;
		&lt;td&gt;
			X_SERVERIMG00_X&lt;/td&gt;
		&lt;td colspan="2"&gt;
			X_SERVERIMG01_X&lt;/td&gt;
		&lt;td colspan="2"&gt;
			X_SERVERIMG02_X&lt;/td&gt;
	&lt;/tr&gt;
 
  &lt;!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
    			INICIO - NOTIFICAÇÃO - NOME FUNCIONARIO
	     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX--&gt;
	&lt;tr&gt;
		&lt;td style="width:104px !important"&gt;
			X_SERVERIMG03_X&lt;/td&gt;
		&lt;td colspan="2"&gt;
	    &lt;span style="font-family:Arial, Helvetica, sans-serif; color:#E1003A; font-size:35px"&gt;&lt;strong&gt;X_DESTINATARIO_X&lt;/strong&gt;,&lt;/span&gt;&lt;/td&gt;
		&lt;td align="right" colspan="2"&gt;
			X_SERVERIMG04_X&lt;/td&gt;
	&lt;/tr&gt;
    &lt;!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
    					FIM - NOTIFICAÇÃO
	     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX--&gt;
    &lt;tr&gt;
		&lt;td style="width:104px !important"&gt;
			X_SERVERIMG05_X&lt;/td&gt;
		&lt;td colspan="3" width="612"&gt;
            &lt;span style="font-family:Arial, Helvetica, sans-serif; color:#E1003A; font-size:30px"&gt;
                &lt;strong&gt;Hoje &amp;eacute; dia de comemora&amp;ccedil;&amp;atilde;o!&lt;br&gt; Olha quem est&amp;aacute; fazendo anivers&amp;aacute;rio:&lt;/strong&gt;
            &lt;/span&gt;
    	&lt;/td&gt;
		&lt;td align="right" style="width:84px !important"&gt;
			X_SERVERIMG06_X&lt;/td&gt;
	&lt;/tr&gt;
  
  
  
   &lt;!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
    			INICIO - FOTO(S) ANIVERSARIANTE(S) DO DIA
	     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX--&gt;

</value>
            </setting>
            <setting name="Notificacao_Corpo" serializeAs="String">
                <value>&lt;tr&gt;
		&lt;td&gt;
			X_SERVERIMG07_X&lt;/td&gt;
		&lt;td colspan="3"&gt;
        	 &lt;table width="100%" border="0" cellspacing="0" cellpadding="0"&gt;
              &lt;tr&gt;
                &lt;td width="150" align="center" style="width:150px"&gt;
        	&lt;!-- FOTO --&gt;
				X_SERVERIMG08_X
        	&lt;!-- XXXX --&gt;
        &lt;/td&gt;
		&lt;td width="462"&gt;
        	&lt;!-- NOME --&gt;
				&lt;span style="font-family:Arial, Helvetica, sans-serif; color:#E1003A; font-size:25px"&gt;&lt;strong&gt;X_ANIVERSARIANTE_X, do X_AREA_X&lt;/strong&gt;&lt;/span&gt;
        	&lt;!-- XXXX --&gt;
&lt;/td&gt;
              &lt;/tr&gt;
     &lt;/table&gt;
&lt;/td&gt;
		&lt;td align="right" width="84"&gt;
			X_SERVERIMG09_X&lt;/td&gt;
	&lt;/tr&gt;
</value>
            </setting>
            <setting name="Notificacao_Rodape" serializeAs="String">
                <value>    &lt;!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
    					FIM - FOTO(S) ANIVERSARIANTE(S)
	     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX--&gt;
     &lt;tr&gt;
		&lt;td colspan="5"&gt;
			X_SERVERIMG10_X&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;
		  X_SERVERIMG11_X&lt;/td&gt;
		&lt;td&gt;
			X_SERVERIMG12_X&lt;/td&gt;
		&lt;td&gt;
			X_SERVERIMG13_X&lt;/td&gt;
		&lt;td&gt;X_SERVERIMG14_X&lt;/td&gt;
		&lt;td&gt;
			X_SERVERIMG15_X&lt;/td&gt;
	&lt;/tr&gt;
&lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
</value>
            </setting>
            <setting name="Parabenizacao_Cabecalho" serializeAs="String">
                <value>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;&lt;title&gt;Aniversario Funcesp&lt;/title&gt;

&lt;/head&gt;
&lt;body&gt;
&lt;table id="Tabela_01" width="800" border="0" cellpadding="0" cellspacing="0"&gt;
	&lt;tr&gt;
		&lt;td colspan="3"&gt;
			X_SERVERIMG00_X&lt;/td&gt;
	&lt;/tr&gt;</value>
            </setting>
            <setting name="Parabenizacao_Corpo" serializeAs="String">
                <value>&lt;tr&gt;
	  &lt;td width="128" align="left"&gt;
			X_SERVERIMG01_X&lt;/td&gt;
		&lt;td width="581" align="left"&gt;&lt;p style="font-family:Arial, Helvetica, sans-serif; color:#E1003A; font-size:35px"&gt;
        &lt;strong style="font-size:35px"&gt;X_ANIVERSARIANTE_X&lt;/strong&gt;,&lt;br&gt;
			Hoje é um dia muito especial...	&lt;/p&gt;&lt;/td&gt;
		&lt;td width="91" align="right"&gt;
			X_SERVERIMG02_X&lt;/td&gt;
	&lt;/tr&gt;
    &lt;tr&gt;
		&lt;td align="left"&gt;
			X_SERVERIMG03_X&lt;/td&gt;
		&lt;td align="left" valign="top"&gt;&lt;p style="font-family:Arial, Helvetica, sans-serif; color:#E1003A; font-size:45px"&gt;&lt;span style="font-family:Arial, Helvetica, sans-serif; color:#E1003A; font-size:45px"&gt;A &lt;strong style="font-size:50px"&gt;Funcesp&lt;/strong&gt;&lt;br&gt;
deseja a você um&lt;br&gt;
&lt;strong style="font-size:50px"&gt;Feliz aniversário!&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;/td&gt;
		&lt;td align="right"&gt;
			X_SERVERIMG04_X&lt;/td&gt;
	&lt;/tr&gt;</value>
            </setting>
            <setting name="Parabenizacao_Rodape" serializeAs="String">
                <value>&lt;tr&gt;
		&lt;td colspan="3"&gt;
			X_SERVERIMG05_X&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td colspan="3"&gt;
			X_SERVERIMG06_X&lt;/td&gt;
	&lt;/tr&gt;
	
 
&lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="Email_Status_Servico" serializeAs="String">
                <value>lucas.leite@funcesp.com.br</value>
            </setting>
            <setting name="Select_Aniversariantes" serializeAs="String">
                <value>select LTRIM (vi.NUM_RGTRO_EMPRG, 0) as num_rgtro_emprg
                  , vi.nome as nom_emprg
                  , vi.cod_email_emprg
                  , vi.nom_area as area
                  from  OWN_PORTAL.RH_VIW_EMAIL_ANIVER vi
                  where  lower(vi.cod_email_emprg) like '%funcesp.com.br'
                  and vi.NUM_RGTRO_EMPRG not in ('1612','502','2568') /* empregados EXCLUIDOS "502 -   CARLOS ALBERTO DE SOUZA OLIVEIRA"; "1612 - CARLOS FELIPE FRANCA"; 2568 - ALESSANDRA BARLOTTI SILVA */
                  and vi.aniver = to_char(sysdate, 'DD/MM')</value>
            </setting>
            <setting name="Select_Destinatarios" serializeAs="String">
                <value>
 select LTRIM(vi.NUM_RGTRO_EMPRG, 0) as num_rgtro_emprg
                  , vi.NOME_ABREV as nom_emprg
                  , vi.cod_email_emprg
                  , vi.nom_area as area
                  from OWN_PORTAL.RH_VIW_EMAIL_ANIVER vi
                  where lower(vi.cod_email_emprg) like '%funcesp.com.br'
                  and vi.NUM_RGTRO_EMPRG NOT in ('1612', '502') /* empregados cedidos "502 -   CARLOS ALBERTO DE SOUZA OLIVEIRA"; "1612 - CARLOS FELIPE FRANCA" */
                  and vi.aniver != to_char(sysdate, 'DD/MM')</value>
            </setting>
            <setting name="Tempo_de_espera_em_minutos" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Server_Email" serializeAs="String">
                <value>smtp.office365.com</value>
            </setting>
            <setting name="Email_Notificacao" serializeAs="String">
                <value>Aniversariantes Funcesp &lt;aniversariantes@funcesp.com.br&gt;</value>
            </setting>
            <setting name="Email_Com_Copia1" serializeAs="String">
                <value>aldo.santos@funcesp.com.br</value>
            </setting>
            <setting name="Email_Com_Copia2" serializeAs="String">
                <value>tatiana.lazzarotto@funcesp.com.br</value>
            </setting>
            <setting name="Server_Email_Login" serializeAs="String">
                <value>aniversariantes@funcesp.com.br</value>
            </setting>
            <setting name="Server_Email_Key" serializeAs="String">
                <value>Pr#jet@Ani</value>
            </setting>
        </Servico_envio_email_aniversarios.Properties.Settings>
    </userSettings>
</configuration>