<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Fundacao/Teste</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NEWDEV" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=NewDev;Persist Security Info=True;User ID=sys_funcesp;Password=SYS_FUNCESPZ2W7;Pooling=False;Max Pool Size=100;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NEWDEV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=NewDev;Persist Security Info=True;User ID=sys_funcesp;Password=SYS_FUNCESPZ2W7;Pooling=False;Max Pool Size=100;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NEWTST" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=NewTst;Persist Security Info=True;User ID=sys_funcesp;Password=p3cwzy195v;Pooling=False;Max Pool Size=100;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NEWTST_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=NewTst;Persist Security Info=True;User ID=sys_funcesp;Password=p3cwzy195v;Pooling=False;Max Pool Size=100;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PROD" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Prod;Persist Security Info=True;User ID=sys_funcesp;Password=sys_funcesp;Pooling=False;Max Pool Size=100;Unicode=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PROD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Prod;Persist Security Info=True;User ID=sys_funcesp;Password=sys_funcesp;Pooling=False;Max Pool Size=100;Unicode=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NEWDEV-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NEWTST-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PROD-Web.config Connection String" />
  </ItemGroup>
</Project>