<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <extnet licenseKey="MzYzNTEwMzMsMiw5OTk5LTEyLTMx" theme="Gray"/>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Config" value="D"/>
  </appSettings>
  <connectionStrings>
    <add name="NEWDEV" connectionString="Data Source=PreProd;Persist Security Info=True;User ID=sys_funcesp;Password=SYS_FUNCESPZ2W7;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient"/>
    <add name="NEWTST" connectionString="Data Source=NewTst;Persist Security Info=True;User ID=sys_funcesp;Password=p3cwzy195v;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient"/>
    <add name="PROD" connectionString="Data Source=Prod;Persist Security Info=True;User ID=sys_funcesp;Password=sys_funcesp;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient"/>
    <add name="SAUDE_EntityConn" connectionString="metadata=res://*/ENTITY.Saude.csdl|res://*/ENTITY.Saude.ssdl|res://*/ENTITY.Saude.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=NEWDEV.world;password=SYS_FUNCESPZ2W7;persist security info=True;user id=SYS_FUNCESP&quot;" providerName="System.Data.EntityClient"/>
    <add name="PREV_Entity_Conn" connectionString="metadata=res://*/ENTITY.PREVIDENCIA.csdl|res://*/ENTITY.PREVIDENCIA.ssdl|res://*/ENTITY.PREVIDENCIA.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=PREPROD.world;password=SYS_FUNCESPZ2W7;persist security info=True;user id=SYS_FUNCESP&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="600"/>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1" newVersion="2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="qswsdeSoap">
          <security mode="Transport" />
        </binding>
        <binding name="qswsdeSoap1" />
        <binding name="qswsdeSoap2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="qswsdeSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.documentoeletronico.com.br/QSWSDE/QSWSDE.asmx"
        binding="basicHttpBinding" bindingConfiguration="qswsdeSoap"
        contract="WS_QualiSign.qswsdeSoap" name="qswsdeSoap" />
      <!--<endpoint address="https://www.documentoeletronico.com.br/QSWSDE/QSWSDE.asmx"
        binding="customBinding" bindingConfiguration="qswsdeSoap12"
        contract="WS_QualiSign.qswsdeSoap" name="qswsdeSoap12" />-->
      <endpoint address="http://www.cqpd.com.br/documentoeletronico/QSWSDE/QSWSDE.asmx"
        binding="basicHttpBinding" bindingConfiguration="qswsdeSoap2"
        contract="WS_QualiSign.qswsdeSoap" name="qswsdeSoap_HOMOLOG" />
    </client>
  </system.serviceModel>
  <oracle.dataaccess.client>
    <settings>
      <add name="int16" value="edmmapping number(4,0)" />
      <add name="int32" value="edmmapping number(9,0)" />
      <add name="int64" value="edmmapping number(18,0)" />
    </settings>
  </oracle.dataaccess.client>
</configuration>