<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Config" value="P"/>
  </appSettings>
  <connectionStrings>
    <add name="NEWDEV" connectionString="Data Source=NewDev;Persist Security Info=True;User ID=sys_funcesp;Password=SYS_FUNCESPZ2W7;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient"/>
    <add name="NEWTST" connectionString="Data Source=NewTst;Persist Security Info=True;User ID=sys_funcesp;Password=p3cwzy195v;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient"/>
    <add name="PROD" connectionString="Data Source=Prod;Persist Security Info=True;User ID=sys_funcesp;Password=JA!4+L2B2;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient"/>
    <add name="EntitiesConn" connectionString="metadata=res://*/ENTITY.ADM.csdl|res://*/ENTITY.ADM.ssdl|res://*/ENTITY.ADM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=PROD.world;password=JA!4+L2B2;persist security info=True;user id=SYS_FUNCESP&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument enabled="true">
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>