<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Config" value="D" />
    <add key="assuntoEmail" value="Encerramento de Assinatura" />
    <add key="htmlEmail" value="Prezado,%0A%0ATendo em vista o encerramento da(s) assinatura(s) pertinente(s) à área [INFORMAR A ÁREA]  no mês de DT_VECTO, solicitamos  pronunciamento até  [INFORMAR A DATA] , para renovação ou cancelamento da(s) mesma(s). No caso de renovação, será necessária a emissão da Solicitação de Produto, para que possamos dar sequência ao processo.%0A%0ANOME_PERIODICO -(cód. – cod_periodico)%0AValor DESC_PERIODO - R$ VALOR_ASSINAT%0AOBS: Valor base DT_VIGENCIA%0A%0AEm caso de dúvidas, estamos à disposição.%0A%0AAAG – Administração Geral"/>
  </appSettings>
  <connectionStrings>
    <add name="NEWDEV" connectionString="Data Source=NewDev;Persist Security Info=True;User ID=sys_funcesp;Password=SYS_FUNCESPZ2W7;Pooling=False;Max Pool Size=100;Unicode=True"
      providerName="System.Data.SqlClient" />
    <add name="NEWTST" connectionString="Data Source=NewTst;Persist Security Info=True;User ID=sys_funcesp;Password=p3cwzy195v;Pooling=False;Max Pool Size=100;Unicode=True"
  providerName="System.Data.SqlClient" />
    <add name="PROD" connectionString="Data Source=Prod;Persist Security Info=True;User ID=sys_funcesp;Password=sys_funcesp;Pooling=False;Max Pool Size=100;Unicode=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages enableEventValidation="false">
</pages>
     <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>