body {
    background: url(images/bg.gif) repeat;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.site-title {
    color: red;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.9em;
    margin: 0;
}

p {
    text-align: justify;
    line-height: 19px;
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px 0 10px 0;
    margin: 0px;
    color: #B52025;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.clear {
    clear: both;
}

#wrap {
    width: 977px;
    margin: 20px auto auto auto;
}

.top_corner {
    width: 976px;
    /*height: 15px;*/
    background: url(images/top_bg.gif) no-repeat center bottom;
}

#main_container {
    width: 977px;
    background: url(images/center_bg_repeat.gif) repeat-y center;
}

#header {
    width: 960px;
    margin: auto;
    height: 90px;
}

#logo {
    /*padding: 10px 0 0 20px;*/
    float: left;
}
/*----------------------menu-------------------------*/
/*#menu {
    /*width: 430px;*/
/*   float: right;
    margin-left: 0px;
}

    #menu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: block;
    }

        #menu ul li {
            list-style: none;
            display: inline;
            float: left;
            width: auto;
            padding: 0px;
            font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
            font-weight: bold;
            font-size: 16px;
        }

            #menu ul li a {
                float: left;
                text-decoration: none;
                padding: 0px 10px 0 10px;
                margin: 0px 4px 0 4px;
                color: #000;
                text-align: center;
                height: 31px;
                line-height: 31px;
            }

                #menu ul li a:hover {
                    background-color: red;
                    color: #fff;
                }

                #menu ul li a.current {
                    float: left;
                    text-decoration: none;
                    padding: 0px 10px 0 10px;
                    margin: 0px 4px 0 4px;
                    color: #fff;
                    text-align: center;
                    height: 31px;
                    line-height: 31px;
                    background-color: #b52025;
                }*/

/*-----------------middle_banner----------------------------*/
.middle_banner {
    width: 977px;
    height: 304px;
    background: url(images/middle_banner_bg.gif) no-repeat center;
}
/*----------------------slider---------------------------*/
.featured_slider {
    width: 965px;
    margin: auto;
    float: left;
    margin: 18px 0 0 6px;
}

ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
/** ----------------------------------------------------- **/
#featured_border {
    position: relative;
    border: none;
    padding: 0px;
    height: 280px;
    margin: 0px;
}

#featured_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#featured_images {
    position: absolute;
    left: 0;
    top: 0;
}

    #featured_images li {
        float: left;
    }

#featured_positioner_desc {
    width: 965px;
    height: 280px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#featured_wrapper_desc {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

#featured_desc {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px;
    margin: 0px;
}

    #featured_desc li {
        width: 965px;
        float: left;
        padding: 0px;
        margin: 0px;
    }

        #featured_desc li div {
            margin: 0px 0 0px 0px;
            padding: 10px;
            width: 945px;
            background: url(images/featured-desc-bg.png);
        }

        #featured_desc li h2 {
            color: #FFFFFF;
            font-size: 18px;
            padding: 0px 0 5px 0;
            margin: 0px;
        }

        #featured_desc li p {
            color: #FFFFFF;
            font-size: 12px;
            padding: 0px 0 10px 0;
            margin: 0px;
            line-height: 18px;
        }

#featured_buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    width: auto;
    padding: 0;
    list-style: none;
}

    #featured_buttons li {
        width: 22px;
        height: 22px;
        background: url(images/featured-button-off.png);
        float: left;
        margin-left: 3px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 22px;
        cursor: pointer;
    }

        #featured_buttons li.clicked {
            background: url(images/featured-button-on.png);
        }
/**/


/*-------------------------------*/
.center_content {
    width: 960px;
    clear: both;
    margin: auto;
    padding: 10px 0 20px 0;
}

.center_content_pages {
    width: 960px;
    clear: both;
    margin: auto;
    padding: 20px 0 20px 0;
    background: url(images/center_bg_pages.gif) no-repeat center top;
}

.home_section_left {
    width: 270px;
    height: auto;
    float: left;
    margin: 0 14px 0 14px;
    padding: 0 10px 20px 10px;
    background: url(images/home_block_bg.gif) no-repeat center bottom;
}

    .home_section_left p {
        clear: both;
    }

        .home_section_left p span {
            font-weight: bold;
        }

img.home_section_icon {
    width: 63px;
    float: left;
}

h2.home_title {
    width: 190px;
    float: left;
    font-size: 20px;
    padding: 20px 0 0px 10px;
    margin: 0px;
    color: #B52025;
}

.home_subtitle {
    width: 190px;
    float: left;
    padding: 0px 0 0px 10px;
    font-size: 12px;
    color: #a7a7a7;
}

.home_section_thumb {
    float: left;
    clear: both;
    padding: 2px;
    text-align: center;
    margin: 10px 0 10px 0;
    border: 1px #dcdcdc solid;
}

a.more {
    float: right;
}

img.projects {
    float: left;
    padding: 2px;
    margin: 0 10px 0 0;
    border: 1px #dcdcdc solid;
}


.left_content {
    width: 660px;
    float: left;
    padding: 0;
}

.left_block {
    width: 295px;
    float: left;
    padding: 20px 20px 10px 15px;
}

.left_block_wide {
    width: 625px;
    float: left;
    padding: 20px 20px 10px 15px;
}

.financial-application-form {
    width: 530px;
    float: left;
    padding: 20px 20px 10px 15px;
}

    .financial-application-form p {
        margin-bottom: 30px;
    }

.testimonials {
    width: 360px;
    float: right;
    padding: 20px 20px 0 0;
}

.block_wide {
    width: 625px;
    float: left;
    margin: 10px 20px 10px 15px;
    padding-top: 10px;
    border-top: 1px #ededed solid;
}

.wide_content {
    width: 930px;
    clear: both;
    padding: 10px 15px 0 15px;
}

.right_block {
    width: 280px;
    float: right;
    padding: 20px 20px 10px 0;
}

img.pic {
    border: 3px #22496a solid;
    margin: 0 0 10px 0;
}

.home_news a {
    font-size: 12px;
    color: #c82127;
    text-decoration: none;
    border-bottom: 1px #bcbcbc dotted;
    padding: 10px 0 5px 12px;
    display: block;
    float: left;
    background: url(images/arrow.gif) no-repeat left top;
    background-position: 0px 13px;
}

    .home_news a:hover {
        text-decoration: underline;
    }

input.newsletter_input {
    background-color: #fdeaeb;
    border: 1px #e2c7c8 solid;
    width: 193px;
    height: 18px;
    padding: 4px;
    float: left;
}

form#newsletter {
    padding: 10px 0 0 0;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #b52025;
    color: #FFFFFF;
    text-align: center;
    float: left;
    padding: 4px 4px 3px 4px;
    margin: 0 0 0 10px;
    /*border: 1px #fdeaeb solid;*/

    border: 1px #b52025 solid;
    cursor: pointer;
}

.testbox {
    padding: 20px 10px 5px 0;
    margin: 0;
    border-bottom: 1px #ededed solid;
}

    .testbox p {
        font-style: italic;
    }



/*-----------------------contact_form-------------------*/
.form {
    width: 500px;
    height: auto;
    float: left;
    padding: 20px 10px 10px 20px;
    border: 1px #fdeaeb solid;
}

.form_row {
    width: 425px;
    float: left;
    clear: both;
    padding: 7px 0 7px 0;
}

label {
    width: 100px;
    float: left;
    padding: 3px 15px 0 0;
    color: #b52025;
    text-align: right;
    font-weight: bold;
}

input.main_input {
    background-color: #fdeaeb;
    border: 1px #e2c7c8 solid;
    width: 300px;
    height: 18px;
    padding: 4px;
    float: left;
}

textarea.main_textarea {
    background-color: #fdeaeb;
    border: 1px #e2c7c8 solid;
    width: 300px;
    height: 120px;
    padding: 4px;
    float: left;
}

input.submit {
    background-color: #b52025;
    color: #FFFFFF;
    text-align: center;
    float: right;
    padding: 3px 10px 2px 10px;
    margin: 0px 0 0 0;
    border: 1px #b52025 solid;
    cursor: pointer;
}
/*-----------------------------footer------------------*/
.footer {
    clear: both;
    width: 960px;
    margin: auto;
    background: url(images/footer_bg.jpg) no-repeat center;
    height: 65px;
}

.copyright {
    float: left;
    padding: 30px 0 0 15px;
    color: #6996c0;
}

    .copyright a {
        color: #2A1C11;
        text-decoration: none;
    }

.footer_links {
    float: right;
    padding: 30px 15px 0 0;
}

    .footer_links a {
        text-decoration: none;
        color: #2A1C11;
        padding-left: 10px;
    }

        .footer_links a:hover {
            text-decoration: underline;
            color: #2A1C11;
        }

/*----------------data Table GridView Css----------------------*/
.EU_TableScroll {
    max-height: none;
    overflow: auto;
    border: 0px solid #ccc;
}

.Table {
    border-collapse: collapse;
    width: 100%;
}

    .Table tr th {
        background-color: #3c454f;
        color: #ffffff;
        padding: 10px 5px 10px 5px;
        border: 1px solid #cccccc;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        text-transform: capitalize;
    }

    .Table tr:nth-child(2n+2) {
        background-color: #f3f4f5;
    }

    .Table tr:nth-child(2n+1) td {
        background-color: #d6dadf;
        color: #454545;
    }

    .Table tr td {
        padding: 5px 10px 5px 10px;
        color: #454545;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border: 1px solid #cccccc;
        vertical-align: middle;
    }

        .Table tr td:first-child {
            text-align: center;
        }
/*-----------------------------------------------------------------*/


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

/* END: Mobile Styles */

/*input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }*/


/* MEN NOVO */

/* zerando o margin e padding para todos os navegadores*/
* {
    margin: 0;
    padding: 0;
}

/* Definição da fonte da página*/
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

/* Removendo bullets e colocando borda*/
.menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
    color: #fff;
}

    /* Definição do Menu para posiciona-lo na horizontal */
    .menu li {
        position: relative;
        float: left;
        border-right: 1px solid #c0c0c0;
    }

        /* Definição de cor e borda do Menu*/
        .menu li a {
            color: #333;
            text-decoration: none;
            padding: 5px !important;
            display: block;
            border-bottom: 2px solid #eee;
        }

            /* Definição de cor e borda do Menu ao passar o mouse */
            .menu li a:hover {
                background: #3c454f;
                color: #fff;
                border-bottom: 2px solid #EA0000;
            }

            /* Definição de cor e borda do Menu selecionado */
            .menu li a.ativo {
                background: #3c454f;
                color: #fff;
                border-bottom: 1px solid #EA0000;
            }

        /* Escondendo os SubMenus */
        .menu li ul.level2 {
            position: absolute;
            top: 37px;
            left: 0;
            background-color: #fff;
            display: none;
            z-index: 1000;
        }

            /* Definição de abertura dos SubMenus */
            .menu li:hover ul, .menu li ul.level2 li:hover ul.menu_sub2 {
                display: block;
            }

            /* Definição do primeiro SubMenu */
            .menu li ul.level2 li {
                border-bottom: 1px solid #c0c0c0;
                border-left: 1px solid #c0c0c0;
                display: block;
                width: 150px;
            }

                /* Definição do segundo SubMenu */
                .menu li ul.level2 li ul.menu_sub2 {
                    position: absolute;
                    top: 0px;
                    left: 150px;
                    display: none;
                    z-index: 1000;
                }

/* Menu com seta para baixo indicando que contém um submenu*/
li a.level1 {
    background-image: url(../Images/MenuBarDown.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 20px !important;
}

li a:hover.level1 {
    background-image: url(../Images/MenuBarDownHover.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 20px !important;
}

/* Menu com seta para direita indicando que contém um submenu*/
li a.imgSubmenuDir {
    background-image: url(MenuBarRight.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

li a:hover.imgSubmenuDir {
    background-image: url(MenuBarRightHover.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
/* AUTOCOMPLETE*/

.autoCompleteList {
    list-style: none outside none;
    border: 1px solid buttonshadow;
    cursor: default;
    padding: 0px;
    margin: 0px;
    z-index: 200000 !important;
}

/*.autoCompleteList  li {
   font-size: 16px !important;

 }*/
/* AJAX POPUP EXTENDER */
.modalPopup1_Background {
    background-color: #dddddd;
    background-color: Black;
    filter: alpha(opacity=70);
    opacity: 0.7;
      /*background-color: White;
  padding: 10px;
  width: 462px;
  z-index:1000 !important;*/
}

.modalPopup1 {
    background-color: #dddddd;
    z-index: 10001;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 250px;
}



