<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Config" value="D" />
  </appSettings>
  <connectionStrings>
    <add name="NEWDEV" connectionString="Data Source=NewDev;Persist Security Info=True;User ID=sys_funcesp;Password=SYS_FUNCESPZ2W7;Pooling=False;Max Pool Size=100;Unicode=True" providerName="System.Data.SqlClient" />
    <add name="PREV_Entity_Conn" connectionString="metadata=res://*/ENTITY.PREVIDENCIA.csdl|res://*/ENTITY.PREVIDENCIA.ssdl|res://*/ENTITY.PREVIDENCIA.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=NEWDEV.world;password=SYS_FUNCESPZ2W7;persist security info=True;user id=SYS_FUNCESP&quot;" providerName="System.Data.EntityClient" />
    <add name="SCHEDULE_Entity_Conn" connectionString="metadata=res://*/ENTITY.Schedule.csdl|res://*/ENTITY.Schedule.ssdl|res://*/ENTITY.Schedule.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=NEWDEV.world;password=sys_FUNCESPZ2W7;persist security info=True;user id=SYS_FUNCESP&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <oracle.dataaccess.client>
    <settings>
      <add name="int16" value="edmmapping number(4,0)" />
      <add name="int32" value="edmmapping number(9,0)" />
      <add name="int64" value="edmmapping number(18,0)" />
    </settings>
  </oracle.dataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>