<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <oracle.dataaccess.client>
    <settings>
      <add name="int16" value="edmmapping number(4,0)" />
      <add name="int32" value="edmmapping number(9,0)" />
      <add name="int64" value="edmmapping number(18,0)" />
    </settings>
  </oracle.dataaccess.client>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="qswsdeSoap">
          <security mode="Transport" />
        </binding>
        <binding name="qswsdeSoap1" />
        <binding name="qswsdeSoap2">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="qswsdeSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.documentoeletronico.com.br/QSWSDE/QSWSDE.asmx"
        binding="basicHttpBinding" bindingConfiguration="qswsdeSoap"
        contract="WS_QualiSign.qswsdeSoap" name="qswsdeSoap" />
      <!--<endpoint address="https://www.documentoeletronico.com.br/QSWSDE/QSWSDE.asmx"
        binding="customBinding" bindingConfiguration="qswsdeSoap12"
        contract="WS_QualiSign.qswsdeSoap" name="qswsdeSoap12" />-->
      <endpoint address="http://www.cqpd.com.br/documentoeletronico/QSWSDE/QSWSDE.asmx"
        binding="basicHttpBinding" bindingConfiguration="qswsdeSoap2"
        contract="WS_QualiSign.qswsdeSoap" name="qswsdeSoap_HOMOLOG" />
    </client>
  </system.serviceModel>
</configuration>